/*Selector de etiqueta*/
h1 {
    color: crimson;
}
h2 {
    color: blue;
}
/*Selector de clase*/
.oscuro {
    background-color: black;
    color: aliceblue;
}
/*Selecor ID*/
#biografia{
    background-color: cornflowerblue;
    color: rgb(0, 0, 0);
}
#frases{
    background-color: cornflowerblue;
    color: black;
}